BBLAYERS += " \ 
    ${LAYERS_DIR}/poky/meta \
    ${LAYERS_DIR}/poky/meta-poky \
    ${LAYERS_DIR}/meta-openembedded/meta-oe \
    ${LAYERS_DIR}/meta-openembedded/meta-multimedia \
    ${LAYERS_DIR}/meta-openembedded/meta-networking \
    ${LAYERS_DIR}/meta-openembedded/meta-python \
    ${LAYERS_DIR}/meta-openembedded/meta-filesystems \
    ${LAYERS_DIR}/meta-qt5 \
    ${LAYERS_DIR}/meta-raspberrypi \
"