# machine options
MACHINE = "raspberrypi"
DISTRO_NAME = "Poky (Yocto Project Reference Distro)"
IMAGE_ROOTFS_EXTRA_SPACE = "524288"

# distro options
PACKAGE_CLASSES ?= "package_deb"
EXTRA_IMAGE_FEATURES ?= "debug-tweaks x11-base ssh-server-openssh"

# sstate mirrors for sumo
SSTATE_MIRRORS = "file://.* http://sstate.yoctoproject.org/2.5/PATH;downloadfilename=PATH \n"

# additional variables expected to exist in the build environment
